<div class="container mt-5 mb-5">

<h5>会員一覧</h5>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>





</div>
