<div class="container mt-5 mb-5">

<h1>about</h1>



<p>当サイトは、センイルカフェや広告、スローガンなどの情報をまとめたサイトです。

<br>あくまで、まとめているだけですので、詳細やお問い合わせは主催者様へお願いいたします。</p>

<p>限られた応援期間ですが、充実したZE_ROSEライフのお手伝いになれば幸いです<%= image_tag 'mattew1.png', style: 'width: 30px; height: 30px;' %>
</p>

<p>●お問い合わせ<br>
<%= link_to "Twitter", "", class:"text-dark" %>のDMにてお願いします。</p>

</div>