
<div class="container mt-5 mb-5">

    <div class="row">
        <p>Have a pinna days! :)</p>
        <p>☆イベントを登録するにはログインが必要です☆</p>
    </div>

    <!--投稿一覧-->
    <div class="row">
        <%= render partial: "public/post_events/card", post_events: @post_events %>
    </div>

</div>

