
    <p>
        <%= @member.name %>さん
        <%= link_to edit_public_member_path(@member) do %>
          <button type="button" class="btn btn-outline-dark btn-sm"> 変更 </button>
        <% end %>

        <%= link_to new_public_post_event_path do %>
          <i class="fa-solid fa-newspaper fa-lg" style="color: #444444;"></i>
        <% end %>
    </p>

    <いいね> | <%= link_to(public_member_path(@member), class:"text-dark") do %>投稿一覧<% end %>



<%#= render partial: "post_events/form", collection: @favorite_posts %>




