<div class="container mt-5 mb-5">

  <!--<div class="search-data">-->
  <!--  <h3>検索</h3>-->
  <%#= search_form_for @q do |f| %>
  <%#= f.label :zb_name_cont, 'Zb_Name' %>
  <%#= f.search_field :zb_name_cont %>
  <%#= f.submit 'Search' %>
<%# end %>
  <!--</div>-->

  <%= render partial: "card", post_events: @post_events %>

</div>